*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: url("../image/nen.jpg") no-repeat ; /*Không lặp lại hình nền cho nó kéo giãn vừa màn hình*/
    background-attachment: fixed; /*Giữ cho hình nền cố định*/
   -webkit-background-size: cover; /*Kéo giãn phù hợp webkit*/
    -moz-background-size: cover; /*Kéo giãn phù hợp motozila*/
    -o-background-size: cover; /*Kéo giãn phù hợp opera*/
    background-size: cover; /*Kéo giãn phù hợp*/
}

.container{
    width: 1140px;
    margin: 0 auto;
}
#header{


}

.logo {
	float: left;
	margin: 19px 17px 0 0;
}
.slogan {
	float: left;
	margin-top: 22px;
	font: italic 16px "Times New Roman", Times, Georgia, serif;
	color: rgba(255, 255, 255, .35);
}

.nav {
	float: right;
}
.nav li {
	float: left;
	border-left: 1px solid #2c323d;
}
.nav a {
	display: block;
	line-height: 62px;
	padding: 0 24px 0 53px;
	color: #fff;
	position: relative;
}
.nav a:after {
	content: '';
	/*background: url(public/images/.png) no-repeat;*/
	position: absolute;
	top: 22px;
	left: 24px;
}


.main .frame{
    background-color: white;
    border: 1px solid rgba(248, 197, 57, 0.979);
}